{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-success" href="{{ path('game_list') }}">Inapoi La listare</a>

    <h2 class="page-header">Adaugare/edit Joc</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}